.vks {
    font-size: 3rem;
    font-weight: 300;
}
.sub-logo {
    position: relative;
    top: -18px;
}
.ml-10 {
    margin-left:10px;
}

.footer {
    background: #09bee4;
    color: white;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.2rem;
  }

  .font-header {
    font-family: auto;
}