<header>
  <!--Navigation-->

  <nav class="navbar navbar-expand-lg navbar-static">
    <div class="container sub-logo">
      <div class="fw-300 white font-header  justify-content-between align-items-center mb-display">

        <div class="flex">
          <a href="#home" title="Logo" class="logo scroll">
            <img src="assets/img/logo.jpeg" class="logo-dark logo-dark-res default" alt="logo" width="100px">
          </a>
          <div class="text-center ml-10 ml-30-res">
            <span class="vks">V.K.S</span>
          </div>
          <img src="assets/img/profile-img.png" class="logo-dark  logo-dark-res ml-10 ml-35-res">
        </div>

        <div class="font-14 mt-20 text-center">
          <div>
            SILAMBAM & YOGA MARTIALARTS TRUST</div>
          SOUTH INDIAN TRADITIONAL SILIMBAM SPORTS ASSOCIATION
        </div>
      </div>

      <div class="row fw-500 white font-header  justify-content-between align-items-center lg-display" id="ntg">

        <div class="col-2 text-center">
          <a href="#home" title="Logo" class="logo scroll">
            <img src="assets/img/logo.jpeg" class="logo-dark default" alt="logo" width="100px">
          </a>
        </div>

        <div class="col-8 font-16 text-center">
          <div class="ml-20">
            SOUTH INDIAN TRADITIONAL SILIMBAM SPORTS ASSOCIATION
            <div class="font-30">
              V.K.S.SILAMBAM & YOGA MARTIALARTS TRUST</div>
          </div>
        </div>

        <div class="col-2 text-center">
          <img src="assets/img/profile-img.png" class="logo-dark">
        </div>

      </div>
    </div>
  </nav>
</header>
<app-download-certificate></app-download-certificate>
<div class="mt-50 row">
  <div class="col-12 text-center">
      <p class="info footer_text">Copyright © 2022 VKS Trust,. All rights reserved.</p> <br>
      <span class="footer mt-30">Designed By: <a target="_blank" href="https://www.instagram.com/ajithjilla_treat/">Ajith</a></span> 
  </div>
</div>